language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
before_install:
  - pip install pytest pytest-cov
  - pip install coveralls
install:
  - python setup.py install
script:
  - coverage run --source=AvivoreXT setup.py test
after_success:
  - coveralls